<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="container" id="bootstrap-overrides">
    <%= render partial: 'shared/flashes' %>
       
       <div class="pull-right user-info">
            <% if current_user %>
                Hello <%= link_to (current_user.name || current_user.email), current_user %>!
                <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
                    <span class="glyphicon glyphicon-user"></span>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
                    <span class="glyphicon glyphicon-log-out"></span>
                <% end %>
            <% else %>
                <%= link_to "Sign In", new_user_session_path %> or
                <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
        </div>
        
    <%= yield %>

</div>
     
        
</body>
</html>

